/*Index/start page css rules*/

.heroContainer {
  height: 100dvh;
  width: 100%;
  margin-bottom: 200px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: clamp(3rem, 5vw, 6rem);
    text-align: left;
    position: absolute;
    left: 2%;
    bottom: 2%;
  }
}

.filterContainer {
  padding: 10px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .categoriesBtn {
    width: 50px;
    cursor: pointer;
  }
}

.movieCardContainer {
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow-y: auto;
}

.searchBox {
  position: relative;

  &:hover .searchInput {
    width: 350px;
    background: var(--color-surface-a20);
  }

  &:hover i {
    left: auto;
    right: 10px;
    transform: translate(0, -50%);
    opacity: 0;
  }

  .searchInput {
    padding: 12px;
    width: 60px;
    border-radius: 50px;
    outline: none;
    transition: 0.5s;
    color: var(--color-primary-a50);
    border: 3px solid var(--color-primary-a50);
    background: none;

    &::placeholder {
      opacity: 0;
    }
  }

  i {
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-primary-a50);
    transition: 0.7s;
  }
}
