/*Css for movieDetails page*/

main {
  width: 100%;

  .movieDetails {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .heading {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .yearDuration {
      padding: 20px 30px;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 200px;
      border-radius: 50px;
      box-shadow: inset 0 0 10px var(--color-surface-a20);

      .year,
      .duration {
        font-size: 1.4rem;
      }
    }

    .poster {
      width: min(100%, 1000px);
    }

    .cinematicAtlas {
      width: min(100%, 1100px);
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;

      .dataList {
        width: 100%;
        padding: 30px 40px 40px 40px;
        border-radius: 20px;
        border: 1px solid var(--color-primary-a50);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        position: relative;

        &::after {
          content: attr(data-title);
          font-size: 0.8rem;
          position: absolute;
          top: -22px;
          left: -20px;
          padding: 10px;
          border-radius: 50px;
          border: 1px solid var(--color-primary-a50);
          background-color: var(--color-surface-a0);
        }
      }

      .dataListRight {
        &::after {
          left: auto;
          right: -22px;
        }
      }
    }

    .desc {
      margin-top: 40px;
      text-align: center;
      font-size: clamp(1.4rem, 2vw, 2rem);
    }
  }
}

@media (min-width: 768px) {
  .cinematicAtlas {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    row-gap: 70px !important;
    align-items: stretch !important;
  }
}
