/* Css for movieDetails page */

main {
  width: 100%;

  .movieDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .poster {
      width: 100%;
      object-fit: cover;
    }

    .movieData {
      width: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .movieHeader {
        width: 100%;
        padding-top: 20px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .title {
          margin: 0;
          font-size: clamp(3rem, 3vw, 3.5rem);
        }

        .rating {
          align-self: flex-start;
          img {
            width: 40px;
          }

          p {
            font-size: 2rem;
          }
        }
      }

      .movieStat {
        margin-top: 10px;
        font-size: 1.2rem;
        color: var(--color-primary-a30);
      }

      .duration {
        color: var(--color-surface-mixed-a50);
      }

      .desc {
        width: min(100%, 900px);
        margin-top: 100px;
        font-size: 1.5rem;
        text-align: center;
        align-self: center;
      }

      .genres {
        margin-top: 20px;
        padding: 20px;
        align-self: center;
        display: flex;
        justify-content: center;
        gap: 20px;
        border-radius: 50px;
        box-shadow: inset 0 0 10px var(--color-surface-a20);

        .genre {
          font-size: 1.1rem;
          color: var(--color-surface-mixed-a50);
        }
      }

      .watchList {
        margin: 80px 0;
        align-self: center;
      }

      .trailerContainer {
        width: 100%;
        height: 100%;
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;

        .trailer {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

footer {
  margin: 0 !important;
}

@media (max-width: 1200px) {
  .movieDetails {
    flex-direction: column;
  }

  .movieHeader {
    flex-direction: column;
  }

  .rating {
    align-self: center !important;
  }

  .movieStat {
    align-self: center;
  }
}
