/*Common css rules that will be used across all pages */

:root {
  /** Dark theme primary colors */
  --color-primary-a0: #c8ad54;
  --color-primary-a10: #cfb667;
  --color-primary-a20: #d6bf7a;
  --color-primary-a30: #ddc88d;
  --color-primary-a40: #e3d19f;
  --color-primary-a50: #e9dab2;

  /** Dark theme surface colors */
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  /** Dark theme mixed surface colors */
  --color-surface-mixed-a0: #221f19;
  --color-surface-mixed-a10: #37342e;
  --color-surface-mixed-a20: #4d4a44;
  --color-surface-mixed-a30: #64615c;
  --color-surface-mixed-a40: #7c7975;
  --color-surface-mixed-a50: #94938f;

  /*Primary text color*/
  --color-primary-text: #e6e4e1;
  --color-error: #ed3b3b;
  --color-success: #2d8a2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--color-primary-text);
  background-color: var(--color-surface-a0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 0;
  outline: none;
}

.btn {
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/*Error container*/

.errorContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--color-error);

  .errorHeader {
    font-size: 2rem;
  }

  .errorBody {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .gudieList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .errorFooter {
    font-size: 0.9rem;
    margin-top: 25px;
  }
}

/*Movie card*/

.moiveCard {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
